.navigation-header {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    width: 90%;
    margin: auto;
    transition: 1s;
}

.mobile-navigation {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.header__logo {
    display: flex;
    padding-block: .5rem;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
}

.header__logo span {
    font-size: 1.75rem;
    letter-spacing: -1px;
    color: var(--blue);
}

.header__shopping-cart {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    background: none;
    cursor: pointer;
}

.shopping-cart-items {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: var(--red);
    min-width: 1rem;
    height: 1rem;
    right: .25rem;
    bottom: 0;
    border-radius: 1rem;
    z-index: 1;
    
}

.shopping-cart-items span {
    font-size: .75rem;
    padding: .25rem;
    font-weight: bold;
    color: white;
}

.navbar {
    background: var(--blue);
}

.navbar__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__item {
    display: flex;
    flex-grow: 1;
}

.link {
    font-size: 1.25rem;
    flex-grow: 1;
    text-align: center;
    color: white;
    line-height: 3.4rem;
    text-decoration: transparent;
    text-underline-offset: 4px;
    background: linear-gradient(#0000, rgb(0 0 0/10%)) top/1000% 10000%;
    transition: 1s;
}

.link:hover {
    text-decoration: underline 2px;
    background-position: bottom;
}

.mobile-navbar {
    display: none;
    padding: 1rem;
}

.navbar-close {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    padding: .25rem;
}

@media only screen and (max-width: 992px) {
    .navigation-header {
        border-bottom: 1px solid #dee1ec;
    }
    .mobile-navbar {
        display: flex;
        justify-content: flex-end;
    }

    .navbar {
        display: none;
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 99;
        background-color: rgb(0 0 0 / 75%);
    }
    .navbar .container {
        max-width: 300px;
        height: 100%;
        margin: 0;
        padding: 0;
        background: var(--blue);
    }
    .navbar__list {
        display: flex;
        flex-direction: column;
    }
    .navbar__item{
        width: 100%;
    }
    .header__wrapper {
        width: 100%;
        padding-block: .5rem;
    }
    .header__shopping-cart {
        right: 0;
    }
    .mobile-navigation {
        display: block;
    }
}