* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    padding-inline: 2rem;
    margin: auto;
}

section {
    margin-block: 4rem;
}

ul, ul li {
    list-style: none;
}

:root {
 --blue: #206ef6;
 --red: #dd2834;
}

main {
    min-height: calc(100vh - 582px);
}

@media only screen and (max-width: 992px) {
    .container {
        padding-inline: 1rem;
    }
}